.cell_style1 {
    background: #b6d7a8;
}

.cell_style2 {
    background: #d9ead3;
}

.cell_style3 {
    background: #ffe599;
}

.cell_style4 {
    background: #fff2cc;
}

.cell_style5 {
    background: #9fc5e8;
}

.cell_style6 {
    background: #cfe2f3;
}
