{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'planner/style.css' %}">
    <meta charset="utf-8">
    <title>Discover and Succeed in Hybrid Learning</title>
  </head>
  <body>
    <h1 class="page_title">Discover and Succeed in Hybrid Learning - Paso 13</h1>
    <p class="instructions">Estamos listos.</p>
    <p class="instructions">¡Eso es todo! Con las respuestas que nos ha brindado le presentaremos
    a continuación la planeación de su sesión de clase, en la que se incorporan los aspectos
    esenciales de un Ambiente de Aprendizaje Híbrido.</p>
    <p class="instructions">Encontrará luego, nuestra sección de Recomendaciones, espacio en el
    cual hemos incluido un par de consejos con base en la información suministrada y el
    conocimiento de nuestros equipo de consultores.</p>
    <p class="instructions">Ahora puede descargarla para hacer uso de ella en su trabajo o puede
    volver al proceso de edición para ajustar lo que considere.</p>
    <form action="{% url 'planner:fullSessionPlan' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="session_plan_id" value="{{ aux_session_plan_id }}">
        <input type="submit" value="Continuar">
    </form>
    <p class="footer_logo">
      <img src="https://www.estudioelefante.co/uploads/1/2/0/1/120163544/original-128px.png">
    </p>
  </body>
</html>
    