{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'planner/style.css' %}">
    <meta charset="utf-8">
    <title>Discover and Succeed in Hybrid Learning</title>
  </head>
  <body>
    <h1 class="page_title">Discover and Succeed in Hybrid Learning - Paso 3</h1>
    <p class="instructions">Y en cuánto a las actividades de aprendizaje para determinar si los
    estudiantes alcanzan los ILOs definidos:
    </p>
    <form action="{% url 'planner:step4' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- hidden fields for upcoming variables -->
        <input type="hidden" name="skill" value="{{ skill }}">
        <input type="hidden" name="clo" value="{{ clo }}">
        <input type="hidden" name="ilo" value="{{ ilo }}">
        <input type="hidden" name="teaching_method" value="{{ teaching_method }}">
        <input type="hidden" name="content" value="{{ content }}">
        <input type="hidden" name="delivery_method" value="{{ delivery_method }}">
        <input type="hidden" name="intended_use" value="{{ intended_use }}">
        <!-- hidden fields for upcoming variables -->
        <input type="submit" value="Continuar">
    </form>
    <p class="footer_logo">
      <img src="https://www.estudioelefante.co/uploads/1/2/0/1/120163544/original-128px.png">
    </p>
  </body>
</html>
    