<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Discover and Succeed in Hybrid Learning</title>
  </head>
  <body>
    <h1>DaSHL - Paso 4</h1>
    <p>La siguiente es la base de la planeación de su sesión de clase:</p>
    <table>
        <tr>
            <td>Competencia asociada al curso:</td>
            <td colspan="3">{{ skill }}</td>
        </tr>
        <tr>
            <td>Resultado de Aprendizaje Esperado del curso:</td>
            <td colspan="3">{{ clo }}</td>
        </tr>
        <tr>
            <td>Resultado de Aprendizaje Esperado de la sesión:</td>
            <td colspan="3">{{ ilo }}</td>
        </tr>
        <tr>
            <td>Metodología de Enseñanza:</td>
            <td colspan="3">{{ teaching_methodology }}</td>
        </tr>
        <tr>
            <td>Contenido Informativo:</td>
            <td>{{ content }}</td>
            <td>¿Cómo acceden a la información los estudiantes?:</td>
            <td>{{ delivery_method }}</td>
        </tr>
        <tr>
            <td>Uso esperado de la información:</td>
            <td colspan="3">{{ intended_use }}</td>
        </tr>
        <tr>
            <td>Actividades de Aprendizaje:</td>
            <td>{{ learning_activities }}</td>
            <td>Resultado ideal que podrían alcanzar los estudiantes:</td>
            <td>{{ ideal_outcome }}</td>
        </tr>
    </table>
    
    <p>Sin embargo aún no hemos abordado el aspecto híbrido de su clase,
    sin lo cual esta planeación no responde al Ambiente de Aprendizaje en el
    que usted está desarrollando su labor en este momento.</p>
    <p>La planeación de su sesión de clase debe reconocer la particularidad
    de estar trabajando de manera simultánea, con estudiantes que estarán de
    manera presencial en el salón de clase y estudiantes que estarán conectados
    remotamente desde sus casas.</p>
    
  </body>
</html>
