{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'planner/style.css' %}">
    <meta charset="utf-8">
    <title>Discover and Succeed in Hybrid Learning</title>
  </head>
  <body>
    <h1 class="page_title">Discover and Succeed in Hybrid Learning - Paso 1</h1>
    <p class="instructions">De acuerdo, vamos a planear la próxima sesión de clase para su curso. 
    Comencemos por la información fundamental:
    </p>
    <form action="{% url 'planner:step2' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Continuar">
    </form>
    <p class="footer_logo">
      <img src="https://www.estudioelefante.co/uploads/1/2/0/1/120163544/original-128px.png">
    </p>
  </body>
</html>